<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- bootstrap link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Contest Form | CodeNow</title>
</head>

<style type="text/css">
body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1249' height='695' preserveAspectRatio='none' viewBox='0 0 1249 695'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='1249' height='695' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1290.6333333333337 695L0 695 L0 474.69Q54.96 425.57%2c 104.08333333333333 480.53Q149.94 463.93%2c 166.53333333333333 509.79Q210.32 449.5%2c 270.6166666666667 493.29Q312.3 430.89%2c 374.7 472.57Q395.24 430.67%2c 437.15 451.21Q519.55 429.53%2c 541.2333333333333 511.93Q552.83 461.07%2c 603.6833333333334 472.67Q667.32 432.22%2c 707.7666666666668 495.86Q730.47 414.48%2c 811.8500000000001 437.19Q853.47 416.36%2c 874.3000000000002 457.97Q937.77 458.99%2c 936.7500000000002 522.46Q976.39 458.01%2c 1040.8333333333335 497.65Q1055 449.37%2c 1103.2833333333335 463.54Q1119.03 416.83%2c 1165.7333333333336 432.58Q1203.02 407.42%2c 1228.1833333333336 444.7Q1287.66 441.73%2c 1290.6333333333337 501.21z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1269.8166666666668 695L0 695 L0 514.78Q53.24 463.93%2c 104.08333333333333 517.17Q191.42 500.42%2c 208.16666666666666 587.76Q231.64 548.78%2c 270.6166666666667 572.25Q293.62 491.17%2c 374.7 514.18Q435.28 470.68%2c 478.7833333333333 531.26Q524.54 514.56%2c 541.2333333333333 560.32Q565.26 521.89%2c 603.6833333333334 545.92Q670.17 508.32%2c 707.7666666666668 574.8Q746.05 550.63%2c 770.2166666666668 588.91Q786.92 543.16%2c 832.6666666666669 559.87Q869.16 492.28%2c 936.7500000000002 528.77Q960.25 489.82%2c 999.2000000000003 513.32Q1064.98 475.02%2c 1103.2833333333335 540.8Q1164.83 498.26%2c 1207.3666666666668 559.8Q1252.97 542.95%2c 1269.8166666666668 588.55z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1311.4500000000003 695L0 695 L0 584.3Q46.34 568.18%2c 62.45 614.52Q102.86 592.48%2c 124.9 632.88Q138.37 583.89%2c 187.35000000000002 597.36Q226.02 573.58%2c 249.8 612.25Q283.95 542.32%2c 353.8833333333333 576.47Q392.96 553.09%2c 416.3333333333333 592.17Q472.32 585.71%2c 478.7833333333333 641.69Q499.41 558.23%2c 582.8666666666667 578.86Q607.19 540.73%2c 645.3166666666667 565.05Q696.88 554.16%2c 707.7666666666668 605.73Q749.57 585.08%2c 770.2166666666668 626.89Q810.13 604.35%2c 832.6666666666669 644.27Q845.55 594.71%2c 895.1166666666669 607.59Q936.85 586.87%2c 957.566666666667 628.6Q967.91 576.49%2c 1020.016666666667 586.83Q1045.02 549.38%2c 1082.466666666667 574.38Q1133.92 563.38%2c 1144.916666666667 614.84Q1192.07 599.54%2c 1207.366666666667 646.69Q1223.31 558.55%2c 1311.4500000000003 574.5z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1290.6333333333334 695L0 695 L0 642.81Q75.81 614.54%2c 104.08333333333333 690.35Q150.26 632.44%2c 208.16666666666666 678.62Q219.14 627.14%2c 270.6166666666667 638.12Q329.02 592.44%2c 374.7 650.84Q450.53 622.58%2c 478.7833333333333 698.41Q540 655.54%2c 582.8666666666667 716.75Q599.6 629.4%2c 686.95 646.13Q733.3 588.4%2c 791.0333333333334 634.75Q838.14 619.41%2c 853.4833333333335 666.52Q897.01 605.96%2c 957.5666666666668 649.48Q1028.78 616.61%2c 1061.65 687.82Q1098.44 662.16%2c 1124.1000000000001 698.95Q1133.49 645.88%2c 1186.5500000000002 655.27Q1230.65 595.29%2c 1290.6333333333334 639.39z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='1249' height='695' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
 .setform {
    border-radius: 50px;
    background: #356cb1;
    width: 29rem;
    margin: 2rem 28rem;
    padding: 1rem 3rem;
    transition: all 3s;
}



  .elementset {

    width: 355px;
    margin: 10px 10px;
    padding: 10px 10px;
  }

  .sethead {
    color: white;
    margin: 0rem 32rem;
    transition: all 2s;
  }

  .sethead:hover {
    color: green;
  }

  .variation2 span {
    font-size: 2rem;
  }
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    background: lightgrey;
}
  label{
    color: white;
  }
input{}
</style>

<body>

  <!-- navbar starts -->
  <nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">CodeNow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="       #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto ">


          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contests">Contests</a>
          </li>
        </ul>
        <div class="mx-2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/landingpage">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar ends -->
  <!-- bradcrumb -->


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home    </a></li>
      <li class="breadcrumb-item"><a href="/contest_administration">Contest Administration</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contest Form </li>
    </ol>
  </nav>



  <!-- breadcrumb ends -->
  <!-- form start -->
  <br>
  <h3 class="sethead"> Submit your information</h3>

  <div class="setform">
    <form action="contestRegistration" method="POST">
      <input type="hidden" name="email" value="{{email}}"/>
      <div class="elementset">
        <label for="fname">Contest name :</label>
        <input type="text" id="contestname" name="contestname">
      </div>
      <div class="elementset">
        <label for="sdate">Starting Date :</label>
        <input type="date" id="sdate" name="sdate">
      </div>
      <div class="elementset">
        <label for="stime">Starting time :</label>
        <input type="time" id="appt" name="stime">
      </div>
      <div class="elementset">
        <label for="fdate">Ending Date :</label>
        <input type="date" id="fdate" name="edate">
      </div>
      <div class="elementset">
        <label for="ftime">Ending time :</label>
        <input type="time" id="appt" name="etime">
      </div>
      <div class="elementset">
        <label for="orgname">Organization name :</label>
        <input type="text" id="orgname" name="orgname">
      </div>
      <div class="elementset">
        
          <input type="submit" class="btn btn-success  btn-center" value="Submit">
        </form>
      </div>
    </form>
  </div>
  <!-- forends -->






  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>
