<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<title>error | CodeNow</title>
<style type="text/css">
body{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='600' preserveAspectRatio='none' viewBox='0 0 1200 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1200' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1021)'%3e%3c/rect%3e%3cpath d='M1200 0L1025.76 0L1200 269.06z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1025.76 0L1200 269.06L1200 359.2L875.04 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M875.04 0L1200 359.2L1200 446.96999999999997L796.76 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M796.76 0L1200 446.96999999999997L1200 469.07L686.8199999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 600L466.38 600L0 561.2z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 561.2L466.38 600L512.68 600L0 399.5300000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 399.53000000000003L512.68 600L831.8599999999999 600L0 236.24000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 236.24L831.8599999999999 600L893.5399999999998 600L0 94.9z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1200' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='12.5%25' y1='-25%25' x2='87.5%25' y2='125%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1021'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100rem 100rem;
}
#setsection1 {
    border-radius: 50px;
    box-shadow: -10px -10px 34px #242530, 10px 10px 34px #52556c;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: -3px 1px 0 #000, 1px 1px 0 #000, 1px -3px 0 #000, -3px -3px 0 #000;
    border: 2px solid wheat;
    display: flex;
    flex-direction: column;
    margin: 11rem 21rem;
    padding: 3rem 0rem;
    height: 100%;
    width: 48.5%;
    justify-content: center;
    align-items: center;
    background-color:#0d2e52;
    background-repeat: no-repeat;
}
</style>
</head>
<body >
	<section id="setsection1">
             <h1>404 NOT FOUND !</h1> 
              <div>FOR SOME REASON THE   </div>
              <div>PAGE YOU REQUESTED COULD</div>
              <div>NOT BE FOUND ON OUR SERVER.</div>
              <br>
              <a class="btn btn-secondary position-center" href="/home" role="button">HomePage</a>
  </section>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
