<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- css for login and signup -->
  <link rel="stylesheet" type="text/css" href="./css/login.css">
  <!-- cards  css link -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <title>Home Page | CodeNow</title>
  <style type="text/css">
    /*css for styling the home page front lines (temporary)*/
    .train {
      text-shadow: -3px 1px 0 #000, 1px 1px 0 #000, 1px -3px 0 #000, -3px -3px 0 #000;
    }

    .material-icons {
      font-size: 4rem !important;
    }

    .material-icons-plus {
      font-size: 2rem !important;
    }

    body {
      background-color: white;
    }

    .cards {
      background: #e6e6e6;
    }

    .cards .row {
      width: 100%;
      max-width: 1280px;
      padding-top: 30px;
      margin-bottom: 0;
    }

    .cards .row .col:not(:last-child) {
      padding-right: 20px;
    }

    .cards .card {
      background: transparent;
      box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
        -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
      border-radius: 40px;
      padding: 4px 30px 20px;
      min-height: 343px;
    }

    .cards.container {
      width: 100%;
      max-width: none;
      padding: 0 20px;
    }

    /*contest creation css*/
  </style>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">CodeNow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="       #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto ">


          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contests">Contests</a>
          </li>
        </ul>
        <div class="mx-2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <form action='/logout' method="POST">
                <input style="color: #000;" class="nav-link " aria-current="page" type="submit" value="Logout" />
              </form>

            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- end of navbar -->

  <!-- carousel -->
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1">
      </button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./images/img11.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="train">Welcome to CodeNow</h2>
          <p>“Any fool can write code that a computer can understand. Good programmers write code that humans can
            understand.”</p>
          <a class="btn btn-primary" href="https://techcrunch.com/" role="button">Technology</a>
          <a class="btn btn-danger" href="https://www.bbc.com/news" role="button">News</a>
          <a class="btn btn-primary" href="https://economictimes.indiatimes.com/topic/India-Development-Foundation"
            role="button">Development</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/900x300/?programming" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="train">Do coding Now</h2>
          <p>“Java is to JavaScript what car is to Carpet.”</p>
          <a class="btn btn-primary" href="https://techcrunch.com/" role="button">Technology</a>
          <a class="btn btn-danger" href="https://www.bbc.com/news" role="button">News</a>
          <a class="btn btn-primary" href="https://economictimes.indiatimes.com/topic/India-Development-Foundation"
            role="button">Development</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/900x300/?champions quotes" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="train">participate in contest</h2>
          <a class="btn btn-danger" href="/contests" role="button">Start Now</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="     prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="   next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- end of carousel -->
  <!-- contest creation -->
  <br>
  <div class="card">
    <div class="card-header">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
        <path
          d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z" />
      </svg>
      <i class="bi bi-arrow-right-square-fill"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome Sir</h5>
      <p class="card-text">You can go to administration to manage and create the contests.</p>
      <form action='contest_administration' method="POST">
        <input type="hidden" name="email" value="{{email}}" />
        <input type="submit" value="Administration" class="btn btn-outline-success" />
      </form>
    </div>
  </div>

  <br>
  <!-- random cards -->
  <!-- border: 4px solid #b0215e; -->
  <div class="container cards">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">emoji_emotions</i></h2>
              <h5 class="center">Good UI Experience</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate
                our custom components. Additionally, we refined animations and transitions to provide a smoother
                experience for developers.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">groups</i></h2>
              <h5 class="center">Group Contest</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate
                our custom components. Additionally, we refined animations and transitions to provide a smoother
                experience for developers.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">verified</i></h2>
              <h5 class="center">Less Traffic</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate
                our custom components. Additionally, we refined animations and transitions to provide a smoother
                experience for developers.</p>
            </div>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="card">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>

                <i class="bi bi-alarm"></i>
                <h5 class="center">Nice Rating System</h5>

                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate
                  our custom components. Additionally, we refined animations and transitions to provide a smoother
                  experience for developers.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>


  <!-- random cards ends -->
  <!-- footer starts -->


  <!-- end of footer -->
  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>